In [14]:
import datetime
import os
import sys
import pandas as pd
import market_models.src.models.train_model as tm
import market_models.src.models.predict_model as pm
import market_models.src.features.build_features as build_features
from utilities.path_utils import *
from utilities.load_utils import *
from market_models.src.data.make_dataset import sample_profiles
from market_models.src.data.make_dataset import export_profile

In [2]:
other_path = get_others_path("netrisk_casco")
eurotax = pd.read_csv(f"{other_path}full_trim_list.csv", low_memory=False)
prices = pd.read_csv(f"{other_path}price.csv", low_memory=False)[['eurotax_code', 'new_price_1_gross']]

AttributeError: module 'market_models.src.utilities' has no attribute 'get_others_path'

In [14]:

eurotax = pd.merge(eurotax, prices, on='eurotax_code')
eurotax['new_price_1_gross'] *= utils.FORINT_TO_EUR
eurotax = eurotax[eurotax['vehicle_type'] == 10]
netrisk_cars = pd.read_csv(f"{other_path}netrisk_cars.csv", low_memory=False)

In [16]:
template = pd.read_excel(get_template_path('netrisk_casco', '2023_11_02'))
params, others = load_distribution('netrisk_casco', 'v2')
profiles = sample_profiles(1, params, others, '2024_07_28', error_model=None)
row_values_path = get_row_values_path('netrisk_casco', '2023_11_02')
with open(row_values_path, 'r') as row_values:
    row_values = eval(' '.join(row_values.readlines()))

indices = dict(zip(template['name'], template['id']))

/home/lerceg/luka_posao/market_models/src/utilities/load_utils.py:160: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  others[other] = pd.read_csv(other_file)

In [27]:
export_profile(profiles.iloc[0], template, indices, row_values, [], '../../crawler/netrisk_casco_test/queue/')
profs = []
for i in range(48, 61):
    tmp = template.copy()
    tmp.at[i, 'Use'] = True
    prof = profiles.iloc[0]
    prof.name = i
    profs.append(export_profile(prof, tmp, indices, row_values, [], '../../crawler/netrisk_casco_test/queue/'))

name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate
name 'CURRENT_YEAR' is not defined PolicyStartDate

In [23]:
profs[2]

,id,name,tag,type,action,getText,value,sleep_after,Use,ReadValue,id_case,Conditional
0,0,Page,https://www.netrisk.hu/biztositas_dijszamitas/...,NaN,navigate,False,0.0,3.0,True,NaN,2,0
1,1,Close,#close,css,click,False,0.0,0.5,True,NaN,2,0
2,2,ownder_driver_same,#Uzembentarto_Tulajdonos_azonos > option:nth-c...,css,click,True,2.0,0.5,True,NaN,2,0
3,3,policy_reason,tr.sor:nth-child(24) > td:nth-child(3) > label...,css,click,True,2.0,0.5,True,NaN,2,0
4,4,km_0_car,#Gj_Ujgepjarmu > option:nth-child(iii),css,click,True,3.0,0.5,True,NaN,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
91,91,Name10,#urlap_12 > td > div.process-saver-content > d...,css,read,True,10.0,0.5,True,NaN,2,1
92,92,Price11,#urlap_12 > td > div.process-saver-content > d...,css,read,True,11.0,0.5,True,NaN,2,1
93,93,Name11,#urlap_12 > td > div.process-saver-content > d...,css,read,True,11.0,0.5,True,NaN,2,1
94,94,Price12,#urlap_12 > td > div.process-saver-content > d...,css,read,True,12.0,0.5,True,NaN,2,1
95,95,Name12,#urlap_12 > td > div.process-saver-content > d...,css,read,True,12.0,0.5,True,NaN,2,1

In [15]:
netrisk_cars = netrisk_cars.drop_duplicates('eurotax_code')
netrisk_cars = netrisk_cars[(netrisk_cars['car_trim_id'] == 4) & (netrisk_cars['car_make_year'] >= 2014)]

In [16]:
netrisk_cars

,Unnamed: 0,eurotax_code,car_make_year,car_make_year_code,car_make,car_make_code,car_model,car_model_code,car_trim_id,car_trim_name,car_full_name,kw,ccm,kg,car_value
12,12,0279B005,2022,2,ALFA ROMEO,3,Giulia,2,4,Giulia 2.0 Veloce Q4 Aut.,ALFA ROMEO_Giulia_2.0 Veloce Q4 Aut.,206,1995,1530,14397000.0
82,82,0207B010,2019,5,ALFA ROMEO,3,MiTo,5,4,MiTo 1.4 TB Multiair Veloce TCT (5 sz.),ALFA ROMEO_MiTo_1.4 TB Multiair Veloce TCT (5 ...,125,1368,1245,7094000.0
97,97,0279B006,2018,6,ALFA ROMEO,3,Giulia,3,4,Giulia 2.0 Elegante Aut.,ALFA ROMEO_Giulia_2.0 Elegante Aut.,147,1995,1504,9990000.0
99,99,0209B007,2018,6,ALFA ROMEO,3,Giulietta,4,4,Giulietta 1.4 TB MultiAir Sport,ALFA ROMEO_Giulietta_1.4 TB MultiAir Sport,110,1368,1290,7555000.0
115,115,0207B007,2018,6,ALFA ROMEO,3,MiTo,5,4,MiTo 1.4 MPI MiTo (5 szem.),ALFA ROMEO_MiTo_1.4 MPI MiTo (5 szem.),57,1368,1155,4740000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40740,40740,9059B012,2014,10,VOLKSWAGEN,132,CC,2,4,CC 1.4 TSI [5 személy],VOLKSWAGEN_CC_1.4 TSI [5 személy],118,1390,1430,9710650.0
40771,40771,9008B023,2014,10,VOLKSWAGEN,132,Golf Plus,4,4,Golf VI Plus 1.2 TSI Highline DSG,VOLKSWAGEN_Golf VI Plus_1.2 TSI Highline DSG,77,1197,1325,6381980.0
40805,40805,9015B004,2014,10,VOLKSWAGEN,132,New Beetle,7,4,Beetle 1.2 TSI Design DSG,VOLKSWAGEN_Beetle_1.2 TSI Design DSG,77,1197,1222,5778730.0
40861,40861,9006B004,2014,10,VOLKSWAGEN,132,Scirocco,11,4,Scirocco 2.0 TFSI,VOLKSWAGEN_Scirocco_2.0 TFSI,155,1984,1298,8733000.0
40890,40890,9079B013,2014,10,VOLKSWAGEN,132,Sharan,12,4,Sharan 1.4 TSI Comfortline DSG [7sz],VOLKSWAGEN_Sharan_1.4 TSI Comfortline DSG [7sz],110,1390,1667,10292310.0

In [17]:
postal_codes = pd.read_csv(f'{utils.get_others_path("netrisk_casco")}hungary_postal_codes.csv')['postal_code']
population = pd.read_csv(f'{utils.get_others_path("netrisk_casco")}hungary_postal_codes_population.csv').rename(
    columns={'PostalCode': 'postal_code',
             'Population': 'population'})[['postal_code', 'population']]


def to_int(x):
    try:
        return int(str(x).replace(',', ''))
    except Exception as e:
        return None


population['population'] = population['population'].apply(to_int)
population = population.dropna()

In [18]:
signal_casco_postal_codes = pd.read_excel('../../signal_casco_tariff/input/signal_casco_postal_codes.xlsx')

In [5]:
template = pd.read_excel(get_template_path('netrisk_casco', '2023_11_02'))

In [19]:

base_profile = utils.read_file(utils.get_profiles_for_crawling_transposed("netrisk_casco_sampled_data"))
base_profile[(base_profile['CarModel'] == 'Corolla')]
base_profile = base_profile.iloc[78]
base_profile

Unnamed: 0                  78
Age                         77
isRecent                  True
LicenseAge                  18
PostalCode                1039
BonusMalus                 B10
BonusMalusCode               1
kw                          73
CarMake                 TOYOTA
CarAge                       7
CarModel               Corolla
CarModelSpecific             5
ccm                       1329
kg                        1225
car_value              12558.0
postal_code               1039
Latitude               47.4984
Longitude              19.0404
Category                   1.0
PostalCode2                 10
PostalCode3                103
CarMakerCategory             1
PolicyStartDate     2023_01_01
Name: 78, dtype: object

In [20]:

base_profile['Age'] = 35
base_profile['CarAge'] = 1
base_profile['BonusMalus'] = 'B10'
base_profile['BonusMalusCode'] = 1
base_profile['PostalCode'] = 1011
base_profile['CarModelSpecific'] = 1
base_profile.to_csv(utils.get_incremental_base_profile_path("netrisk_casco", "v1"))

In [21]:

population = population[population['population'].between(0, 1000000)]

postal_codes = list(set(signal_casco_postal_codes.iloc[ : , 0]).difference(population['postal_code'].astype(int)))
values = pd.DataFrame(columns=['feature', 'min', 'max', 'step', 'values'])
features_to_vary = pd.Series([('CarAge', 'CarMake', 'CarModel', 'CarModelSpecific')])
#features_to_vary = pd.Series(['PostalCode', 'Age', 'CarAge', 'BonusMalus'])
#features_to_vary = pd.Series(['PostalCode'])
car_values = netrisk_cars[['car_make_year', 'car_make', 'car_model', 'car_trim_id']].values
car_values[:, 0] = datetime.datetime.today().year - car_values[:, 0]
car_values = list(map(tuple, car_values))
#feature_values = pd.Series([postal_codes, None, None, utils.BONUS_MALUS_CLASSES_GOOD, car_values])
#feature_values = pd.Series([postal_codes, None, None, utils.BONUS_MALUS_CLASSES_GOOD])
feature_values = pd.Series([car_values])
#feature_values = pd.Series([postal_codes])
values['values'] = feature_values
values['feature'] = features_to_vary
values['min'] = pd.Series([None, 19, 0, None])
values['min'] = pd.Series([None])
values['max'] = pd.Series([None, 79, 10, None])
values['max'] = pd.Series([None])
values['step'] = pd.Series([None, 2, 1, None])
values['step'] = pd.Series([None])
values.to_csv(utils.get_incremental_values_path("netrisk_casco", "v12"))

In [22]:
values

,feature,min,max,step,values
0,"(CarAge, CarMake, CarModel, CarModelSpecific)",None,None,None,"[(2, ALFA ROMEO, Giulia, 4), (5, ALFA ROMEO, M..."

In [15]:
len(postal_codes)

922