In [1]:
import os
import sys
import importlib

from matplotlib import get_data_path

sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(''))))
from utilities.path_utils import *
import pandas as pd

In [4]:
data = pd.read_parquet(get_predictions_all_path('netrisk_casco_v2', 'netrisk_casco_v2', False))

In [9]:
abs(data['netrisk_casco_v2_KÖBE_price_model'] - data['KÖBE_price']).mean() /  data['KÖBE_price'].mean()

0.056374794105620823

In [4]:
deductible_effect = pd.read_excel('../data/external/distributions/deductible_effect.xlsx')

TypeError: get_predictions_all_path() missing 1 required positional argument: 'apply_presence_models'

In [46]:
deductible_effect = deductible_effect.rename(columns = {'DeductiblePercentage' : 'deductible_percentage', 'DeductibleAmount' : 'deductible_amount'})

In [47]:
deductible_effect = deductible_effect.melt(id_vars = ['deductible_percentage', 'deductible_amount'], var_name = 'current_target', value_name='deductible_factor')

In [48]:
deductible_effect['current_target'] = deductible_effect['current_target'] + '_price'
deductible_effect.to_csv('../data/external/netrisk_caso_deductible_on_top.csv', index = False)

In [35]:
data = pd.read_parquet(get_processed_data_path('netrisk_casco_v6'))
data['current_target'] = 'ALFA'

In [36]:
pd.merge(data, deductible_effect, on = ['deductible_amount', 'deductible_percentage', 'current_target'])

,date_crawled,deductible_percentage,deductible_amount,vehicle_equipment_polished_specialty,vehicle_equipment_air_conditioning,vehicle_equipment_alloy_wheels,vehicle_equipment_automatic_transmission,vehicle_equipment_leather_seats,vehicle_equipment_navigation_systems,vehicle_equipment_xenon_headlights,...,vehicle_fuel_type,vehicle_maker,vehicle_model,vehicle_number_of_seats,vehicle_power,vehicle_value,vehicle_weight_max,vehicle_weight_min,current_target,deductible_factor
0,2024-10-21,10.0,100000.0,False,False,False,False,False,False,False,...,petrol,KIA,Picanto,4.0,49.0,NaN,1320.0,899.0,ALFA,1.000000
1,2024-10-21,10.0,100000.0,False,False,False,False,False,False,False,...,petrol,KIA,Picanto,4.0,49.0,NaN,1320.0,899.0,ALFA,1.000000
2,2024-10-21,10.0,100000.0,False,False,False,False,False,False,False,...,diesel,FORD,Focus Kombi Dies,5.0,80.0,NaN,1885.0,1391.0,ALFA,1.000000
3,2024-10-21,10.0,100000.0,False,False,False,False,False,False,False,...,petrol,HYUNDAI,i20,5.0,57.0,NaN,1515.0,1085.0,ALFA,1.000000
4,2024-10-21,10.0,100000.0,False,False,False,False,False,False,False,...,petrol,TOYOTA,Yaris,5.0,68.0,6990000.0,1365.0,1050.0,ALFA,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89211,2024-10-21,20.0,500000.0,False,False,False,False,False,False,False,...,electric,TESLA,Model Y,5.0,378.0,19500000.0,2371.0,2056.0,ALFA,0.666667
89212,2024-10-21,20.0,500000.0,False,False,False,False,False,False,False,...,electric,TESLA,Model Y,5.0,378.0,20500000.0,2371.0,2056.0,ALFA,0.666667
89213,2024-10-21,20.0,500000.0,False,False,False,False,False,False,False,...,electric,TESLA,Model Y,5.0,378.0,20500000.0,2371.0,2056.0,ALFA,0.666667
89214,2024-10-21,20.0,500000.0,False,False,False,False,False,False,False,...,petrol,MERCEDES-BENZ,E-osztály Cabrio,4.0,320.0,NaN,2475.0,2055.0,ALFA,0.666667
89215,2024-10-21,20.0,500000.0,False,False,False,False,False,False,False,...,petrol,TOYOTA,Corolla Sedan,5.0,92.0,13305000.0,1745.0,1295.0,ALFA,0.666667

In [23]:
data1 = pd.read_csv(get_raw_data_path('netrisk_casco_2024_02_09', '.csv'))
data2 = pd.read_csv(get_raw_data_path('netrisk_casco_2024_01_33', '.csv'))
data3 = pd.read_csv(get_raw_data_path('netrisk_casco_2024_01_34', '.csv'))

In [26]:
data1

,id_case,DateCrawled,isRecent,CarMake,CarModel,CarAge,ccm,kw,kg,car_value,...,GENERALI_price,GENERTEL_price,GROUPAMA_price,K&AMP;H_price,KÖBE_price,MAGYAR_price,SIGNAL_price,UNION_price,UNIQA_price,WÁBERER_price
0,1135,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,NaN,371602.0,90036.0,100000.0,156193.0,190987.0,212210.0,NaN
1,1136,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,258700.0,NaN,172596.0,306177.0,90036.0,100000.0,156193.0,190987.0,174069.0,NaN
2,1137,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,186192.0,283552.0,82716.0,100000.0,156193.0,190987.0,174069.0,NaN
3,1138,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,283939.0,NaN,172596.0,322156.0,88206.0,100000.0,156193.0,202221.0,132000.0,NaN
4,1139,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,172596.0,274321.0,90036.0,100000.0,156193.0,202221.0,132000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,3801,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,283939.0,NaN,179292.0,239577.0,69906.0,100000.0,218670.0,190987.0,162103.0,NaN
2667,3802,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,179292.0,322156.0,88206.0,100000.0,156193.0,202221.0,148828.0,NaN
2668,3803,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,NaN,283552.0,82716.0,100000.0,156193.0,190987.0,186970.0,NaN
2669,3804,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,283939.0,NaN,172596.0,306177.0,90036.0,100000.0,156193.0,190987.0,267927.0,NaN
2670,3805,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,347037.0,NaN,192876.0,303559.0,110532.0,109156.0,156193.0,190987.0,212210.0,NaN

In [24]:
sorted(data2[data2['ALLIANZ_price'].isna()].PostalCode.tolist())

[2643, 4335, 5130, 5661, 5830, 6066, 7017, 7173, 8043]

In [25]:
sorted(data1[data1['ALLIANZ_price'].isna()].PostalCode.tolist())

[1056,
 1061,
 1222,
 2090,
 2164,
 2241,
 2532,
 2644,
 2660,
 2911,
 3042,
 3125,
 3240,
 3294,
 3377,
 3596,
 3776,
 3932,
 4354,
 5231,
 5536,
 6600,
 6635,
 7047,
 7165,
 7256,
 7500,
 7512,
 7526,
 7556,
 7772,
 7813,
 7826,
 8123,
 8751,
 8855,
 8878,
 9024,
 9111,
 9223,
 9234,
 9423,
 9664,
 9751,
 9773,
 9900,
 9922]

In [21]:
sorted(data3[data3['ALLIANZ_price'].isna()].PostalCode.tolist())

[]

In [22]:
data3

,id_case,DateCrawled,isRecent,CarMake,CarModel,CarAge,ccm,kw,kg,car_value,...,GENERALI_price,GENERTEL_price,GROUPAMA_price,K&AMP;H_price,KÖBE_price,MAGYAR_price,SIGNAL_price,UNION_price,UNIQA_price,WÁBERER_price
0,839,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,76992.0,199538.0,88206.0,NaN,97974.0,65073.0,110979.0,NaN
1,840,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,71232.0,202823.0,82716.0,NaN,97974.0,65073.0,139421.0,NaN
2,841,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,106033.0,NaN,79944.0,194236.0,79056.0,NaN,97974.0,65073.0,129801.0,NaN
3,842,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,97301.0,NaN,71232.0,168621.0,82716.0,NaN,97974.0,61458.0,110979.0,NaN
4,843,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,106033.0,NaN,71232.0,182967.0,82716.0,NaN,97974.0,65073.0,169675.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,1130,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,79944.0,219498.0,82716.0,NaN,97974.0,61458.0,129801.0,NaN
292,1131,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,71232.0,182967.0,82716.0,NaN,97974.0,65073.0,98431.0,NaN
293,1132,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,82824.0,175627.0,82716.0,NaN,97974.0,61458.0,169675.0,NaN
294,1133,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,106033.0,NaN,71232.0,189641.0,82716.0,NaN,97974.0,61458.0,120878.0,NaN
295,1134,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,143456.0,NaN,91620.0,207917.0,129564.0,NaN,161658.0,72304.0,169675.0,NaN