In [1]:
import os
import sys
import importlib
from pyexpat import features

from matplotlib import get_data_path

from models.predict_model import model_predict

sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(''))))
from utilities.path_utils import *
import pandas as pd
from utilities.model_utils import *
from utilities.load_utils import *

In [6]:
data_netrisk, features_info, features_on_top, features_model = load_data('netrisk_casco_v5')

In [7]:
data_crawled, features_info, features_on_top, features_model = load_data('netrisk_casco_v4')

In [23]:
count_crawled = data_crawled['vehicle_trim'].str.lower().value_counts()
count_crawled

vehicle_trim
corsa f  1.2 gs line                              197
taigo  1.0 tsi move                               130
puma  1.0 ecoboost trend                          125
crossland x  1.2 s-s opel 2020                    110
fabia  1.0 mpi comfort                            104
                                                 ...
500  1.0 bsg club                                   1
astra j 3 ajtós  1.6 t drive aut. euro6             1
crossland x dies  1.5 cdti s-s innovation aut.      1
logan mcv  0.9 tce celebration                      1
logan mcv dies  1.5 dci open                        1
Name: count, Length: 706, dtype: int64

In [24]:
count_netrisk = data_netrisk['vehicle_trim'].str.lower().value_counts()
count_netrisksorento

vehicle_trim
sx4 s-cross  1.4t gl+                                  68
s-cross  1.4 hybrid gl+                                65
vitara  1.6 gl+                                        62
model 3  long range awd aut.                           59
vitara  1.4 hybrid gl+                                 56
                                                       ..
vitara dies  1.6 ddis glx 4wd                           1
civic lim  1.8 elegance plus                            1
passat dies  2.0 tdi bmt scr comfortline                1
insignia grand sport  1.6 t business innovation s&s     1
grand c-max dies  1.5 tdci dpf titanium [7sz]           1
Name: count, Length: 4521, dtype: int64

In [22]:
pd.merge(count_crawled, count_netrisk, on = 'vehicle_trim')

                                       count_x  count_y
vehicle_trim
fabia  1.0 mpi comfort                     104        2
corsa e  1.2 120 év                         78        6
corsa e  1.4 120 év                         72        4
polo vi  1.0 mpi city                       27        1
swift  1.2 gl ac cd/mp3 usb aut.            25        1
...                                        ...      ...
focus dies  1.5 ecoblue active               1        2
focus kombi dies  1.5 ecoblue st-line        1        2
astra k 5 ajtós  1.4 t 120 év                1        5
i20  1.25i hp go! plus                       1        1
sorento  2.4 gdi ex aut. [7sz]               1        2

[65 rows x 2 columns]

In [25]:
data_netrisk

,date_crawled,policy_start_date,vehicle_trim,bonus_malus_casco,deductible_percentage,deductible_amount,payment_frequency,payment_method,vehicle_equipment_polished,vehicle_equipment_ac,...,GENERALI_price,GENERTEL_price,GROUPAMA_price,K&AMP;H_price,KÖBE_price,MAGYAR_price,SIGNAL_price,UNION_price,UNIQA_price,GRÁNIT_price
unique_id,,,,,,,,,,,,,,,,,,,,,
2390647,NaT,2024_05_02,GOLF VII VARIANT DIES 2.0 TDI BMT COMFORTLINE...,C00,10,100000,yearly,bank_transfer,False,True,...,208195.0,247007.0,317448.0,184823.0,118625.0,NaN,193125.0,255493.0,277546.0,735316.0
2390655,NaT,2024_06_01,YARIS 1.33 TREND,C10,10,100000,yearly,inovice,False,True,...,139625.0,119313.0,96708.0,79719.0,100010.0,100000.0,104550.0,60693.0,149820.0,65588.0
2390659,NaT,2024_05_02,E-NIRO 64KWH SILVER,C05,10,500000,yearly,bank_transfer,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,265297.0,NaN
2390776,NaT,2024_05_02,OCTAVIA COMBI 1.5 TSI ACT STYLE,C07,10,100000,yearly,bank_transfer,False,False,...,149339.0,142422.0,126624.0,145489.0,100010.0,139708.0,88450.0,107972.0,192699.0,NaN
2390805,NaT,2024_06_26,None,C00,10,100000,yearly,bank_transfer,False,True,...,NaN,NaN,NaN,NaN,100010.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2747663,NaT,2024_10_01,SPORTAGE 1.6 GDI SILVER MY21,C02,10,100000,yearly,bank_transfer,False,True,...,330846.0,281441.0,308916.0,235397.0,NaN,NaN,383134.0,284848.0,258706.0,NaN
2747696,NaT,2024_11_11,GRAND C-MAX DIES 1.5 TDCI DPF TITANIUM [7SZ],C03,10,100000,quarterly,bank_transfer,False,True,...,101653.0,105073.0,123588.0,163582.0,130305.0,NaN,154102.0,122012.0,136733.0,137620.0
2747705,NaT,2024_10_01,OCTAVIA COMBI 1.5 TSI ACT STYLE,C01,10,100000,quarterly,bank_transfer,False,True,...,279267.0,280625.0,279576.0,323228.0,132860.0,205399.0,474882.0,242501.0,350427.0,NaN
2747706,NaT,2024_10_01,COROLLA TOURING SPORTS 2.0 HYBRID GR-SPORT DY...,C01,10,100000,yearly,bank_transfer,True,True,...,402136.0,427027.0,505932.0,273654.0,571225.0,NaN,256412.0,376780.0,350472.0,NaN
2747856,NaT,2024_11_01,RIFTER 1.2 PURETECH ALLURE S&S L2,C10,10,100000,yearly,bank_transfer,False,True,...,187875.0,NaN,88764.0,121072.0,130305.0,103972.0,133452.0,113736.0,294323.0,NaN